server:
    port: 8086
    servlet:
      context-path: /rest

spring: 
    main:
        banner-mode: "off"     
    jpa:
      properties:
        hibernate:
          format_sql:true
      show-sql: true

logging: 
    level: 
        org: 
            springframework: ERROR